#banner {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#back {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

h1 {
	margin-left: 40px;
}

#events {
	height: 200px;
	width: 80%;
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 40px;
	margin-top: 40px;
	overflow: scroll;
}

img {
	margin-top: 20px;
	margin-left: 20px;
	width: 80px;
	height: 100px;
	float: left;
}

.event p {
	margin-top: 20px;
	float: left;
	width: 600px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.event {
	clear: both;
}

#add_event {
	margin-top: 100px;
	margin-left: 40px;
	margin-bottom: 100px;
}

#event_title {
	width: 400px;
}